body {
	font-family:微軟正黑體!important;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #BF4922;
	background-position : top center;
}
a:link {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #000000;
	text-decoration: underline;
}
.title1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	letter-spacing: 1px;
	padding: 10px;
	font-weight: bolder;
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: #A20000;
	letter-spacing: 1px;
	font-weight: bold;
}
.content1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #444444;
	letter-spacing: 1px;
	padding: 20px;
	background-color: #ffffff;
	width:  calc(100vw - 230px);
}
.content2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #444444;
	letter-spacing: 1px;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #444444;
	letter-spacing: 1px;
}
.shadow{float:left;background:url(../img/shadow.gif) no-repeat bottom right;margin-bottom:10px}
.shadow div{float:left;padding:0 6px 6px 0;background:url(../img/shadow2.png) no-repeat left top !important;background:url(../img/shadow2.gif) no-repeat left top}
.shadow div div{background:#fff;border:1px solid #a9a9a9;padding:4px; margin:0}
.leftmenu {
	font-size:16px;
}

.leftmenu a,.leftmenu a:active,.leftmenu a:visited {
	font-size:16px;
}

.navbar-fixed-top {
    opacity: 80%;
}

.tophide {
	display:none;
}

.topshow {
	display:block;
}

.contentshow {
	width:90%;
}

.toplogo {
	width:230px;
}

@media screen and (max-width: 978px) {
	.toplogo {
		display:none;
	}
	.tophide {
		display:block;
	}

	.topshow {
		display:none;
	}
	
	.contentshow {
		width:100%;
	}

}


/*********** CBDB-Btn BUTTON *************/

.cbdb-menu li {
	display: block;
	float: left;
	line-height: 35px;
	list-style:none;
	margin: 0 0px;
}
.cbdb-menu li a {
	font-family: 微軟正黑體,'Lora', serif !important;
	-webkit-transition: color 300ms;
    transition: color 300ms;
    display: inline-block;
    position: relative;	
	font-size:16px;
	padding: 0 10px;
	font-size: 17px !important;
	font-weight: 500;
	letter-spacing: -0.03em;
	color:#fff;
}

.cbdb-menu li a:visited {
	font-family: 微軟正黑體,'Lora', serif !important;
	color:#fff;
}

.cbdb-menu li a:hover {
	color:#9dff75d1;
	text-decoration: none;
}



@media screen and (max-width: 978px) {
	.cbdb-menu li {
		float: unset;
		margin: 5px 0px;
		background-color: gray;
		color: #000;
		width: 90%;
	}
	.cbdb-menu li a {
		line-height: 25px;
		width:100%;
		font-size:1.4em !important;
	}
}

/* Dark Text */
.cbdb-menu li a.dark {
	color: #333; /* IE */
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
/*********** COLORS *************/
/* Create your own class for your own colors */
.red {
	/* background: #B80202;
	border: #B80202 1px solid
	*/
}
	/*.red:hover, .red:focus{
		background-color:#e30606
		
	}*/
.red_focus {
	/* background: #E3792F;
	border: #B80202 1px solid
	*/
}
.green {
	background: #46c431;
	border: #46c431 1px solid
}
	.green:hover,.green:focus {
		background-color:#44e329
	}
.yellow {
	background: #D9CE1C;
	border: #D9CE1C 1px solid
}
	.yellow:hover,.yellow:focus {
		background-color:#eee117
	}
.cyan {
	background: #23c6de;
	border: #23c6de 1px solid
}
	.cyan:hover,.cyan:focus {
		background-color:#18d8f4
	}
.blue {
	background: #3271d9;
	border: #3271d9 1px solid
}
	.blue:hover,.blue:focus {
		background-color:#377ef2
	}
	
.organ {
	background: #FF925A;
	border: #FF925A 1px solid
}
	.organ:hover,.organ:focus {
		background-color:#FFAE7B
	}
	
.leftmenuword a {
	font-size:16px;
	text-decoration: none;
}	

.contentblock {
	height: 100%;
}

.contentblock img {
	width:100%;
	margin-top:30px;
}

.contentblock p {
    line-height: 28px;
    padding: 10px 0px 0px 0px	
}

.list-group-item.active a{
	color: #fff !important;
}

.list-group-item {
    padding: 10px 25px !important;
}

.bgtd7a {
	background: url(../img/bg7a.jpg);
}

.bgtd1a {
	background: url(../img/bg1a.jpg);
}

.bgtd4a {
	background: url(../img/bg4a.jpg);
}

.bgtd2a {
	background: url(../img/bg2a.jpg);
}

/* Photo Frame  */
.multiple-borders {
  -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
	width: 60%;
	margin-left:20%;
	margin-top: 30px;
}

@media screen and (max-width: 978px) {
	.multiple-borders {
		width: 100%;
		margin-left:0px;
	}
	
}

@media only screen and (max-width: 978px) {
   .container{
     width:100%;  
   }
  .navbar-header {
    padding-right: 0;
    margin-right: 0;    
    width: 100%;
    min-height: 50px;
	}

  .navbar-toggle {
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 44px;
    cursor: pointer;

	}


	.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top .navbar-collapse {
    width: 100%;

    position: absolute;
    top: 100%;
    background: #1B1B1B;
    left: 0;
    z-index: 1201;
    }

    .navbar-nav li {
    position: relative;
    float:none !important;
    margin-left:-15px; 
    margin-right:15px;
   }
    .navbar-nav.navbar-right li a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    display: block !important;
    padding: 10px 15px;   
    border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
}
    .navbar-custom .navbar-nav {
        letter-spacing: 3px;
        margin-top: 1px;
        margin-bottom: 0;
        width: 100%;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }


    .collapse.in{
        display:block !important;
    }
}